[submodule "lab3/590MakefileLab"]
	path = lab3/590MakefileLab
	url = git@github.com:rz447csuci/590MakefileLab.git
[submodule "lab3/pychess"]
	path = lab3/pychess
	url = git@github.com:pychess/pychess.git
[submodule "lab3/cloudcmd"]
	path = lab3/cloudcmd
	url = git@github.com:coderaiser/cloudcmd.git
